{
    "path": ".",
    "rules": {
        "assets": {
            "Models/bath/bath.w4a": {
                "models": {
                    "bath.fbx": null
                }
            },
            "Models/bath/bath_broken_1.w4a": {
                "models": {
                    "bath_broken_1.fbx": null
                }
            },
            "Models/bath/bath_broken_2.w4a": {
                "models": {
                    "bath_broken_2.fbx": null
                }
            },
            "Models/book.w4a": {
                "models": {
                    "book.fbx": null
                }
            },
            "Models/books.w4a": {
                "models": {
                    "books.fbx": null
                }
            },
            "Models/chel.w4a": {
                "models": {
                    "chel.fbx": null
                }
            },
            "Models/duck.w4a": {
                "models": {
                    "duck.fbx": null
                }
            },
            "Models/scene.w4a": {
                "models": {
                    "scene.fbx": null
                }
            },
            "Models/stand/stand.w4a": {
                "models": {
                    "stand.fbx": null
                }
            },
            "Models/stand/stand_broken_1.w4a": {
                "models": {
                    "stand_broken_1.fbx": null
                }
            },
            "Models/stand/stand_broken_2.w4a": {
                "models": {
                    "stand_broken_2.fbx": null
                }
            },
            "Models/toilet/toilet.w4a": {
                "models": {
                    "toilet.fbx": null
                }
            },
            "Models/toilet/toilet_broken_1.w4a": {
                "models": {
                    "toilet_broken_1.fbx": null
                }
            },
            "Models/toilet/toilet_broken_2.w4a": {
                "models": {
                    "toilet_broken_2.fbx": null
                }
            },
            "Models/vantuz.w4a": {
                "models": {
                    "vantuz.fbx": null
                }
            },
            "default.w4a": {
                "images": [
                    "Textures/awatar_01.png",
                    "Textures/awatar_02.png",
                    "Textures/awatar_03.png",
                    "Textures/awatar_04.png",
                    "Textures/bg.png",
                    "Textures/bg_game.png",
                    "Textures/cards_1/Ace_Of_Diamonds@1x.png",
                    "Textures/cards_1/Ace_Of_Hearts@1x.png",
                    "Textures/cards_1/Four_Of_Hearts.png",
                    "Textures/cards_1/Jack_Of_Hearts@1x.png",
                    "Textures/cards_1/King_Of_Diamonds@1x.png",
                    "Textures/cards_1/Nine_Of_Clubs.png",
                    "Textures/cards_1/Nine_Of_Hearts@1x.png",
                    "Textures/cards_1/Queen_Of_Clubs@1x.png",
                    "Textures/cards_1/Queen_Of_Hearts@1x.png",
                    "Textures/cards_1/Seven_Of_Hearts@1x.png",
                    "Textures/cards_1/Six_Of_Clubs@1x.png",
                    "Textures/cards_1/Three_Of_Clubs@1x.png",
                    "Textures/cards_1/Two_Of_Hearts@1x.png",
                    "Textures/cards_2_big/Ace_Of_Diamonds@2x.png",
                    "Textures/cards_2_big/Ace_Of_Hearts@2x.png",
                    "Textures/cards_2_big/Five_Of_Hearts@2x.png",
                    "Textures/cards_2_big/Four_Of_Clubs@2x.png",
                    "Textures/cards_2_big/Jack_Of_Clubs@2x.png",
                    "Textures/cards_2_big/Jack_Of_Hearts@2x.png",
                    "Textures/cards_2_big/King_Of_Diamonds@2x.png",
                    "Textures/cards_2_big/King_Of_Hearts@2x.png",
                    "Textures/cards_2_big/Nine_Of_Clubs.png",
                    "Textures/cards_2_big/Nine_Of_Clubs@2x.png",
                    "Textures/cards_2_big/Nine_Of_Hearts@2x.png",
                    "Textures/cards_2_big/Queen_Of_Clubs@2x.png",
                    "Textures/cards_2_big/Queen_Of_Hearts@2x.png",
                    "Textures/cards_2_big/Seven_Of_Diamonds@2x.png",
                    "Textures/cards_2_big/Seven_Of_Hearts@2x.png",
                    "Textures/cards_2_big/Seven_Of_Spades@2x.png",
                    "Textures/cards_2_big/Six_Of_Clubs@2x.png",
                    "Textures/cards_2_big/Ten_Of_Clubs@2x.png",
                    "Textures/cards_2_big/Three_Of_Clubs@2x.png",
                    "Textures/cards_2_big/Two_Of_Clubs@2x.png",
                    "Textures/cards_2_big/Two_Of_Hearts@2x.png",
                    "Textures/cards_2_big/jack_of_clubs.png",
                    "Textures/download_btn.png",
                    "Textures/icn_hand_512.png",
                    "Textures/rays_blend.png",
                    "Textures/screen_End_Screen.png",
                    "Textures/screen_loading.png",
                    "Textures/spades.png",
                    "Textures/spades_mania_icon.png",
                    "Textures/spades_mania_logo.png"
                ],
                "materials": [
                    "Materials/animated.mat",
                    "Materials/default.mat",
                    "Materials/sprite.mat"
                ]
            }
        },
        "pass": [
            "cardResources.json",
            "resources.json",
            "settings.json"
        ],
        "skip": [
            "AssetCreator.config",
            "Materials/shaders/animated.fs",
            "Materials/shaders/animated.vs",
            "Materials/shaders/default.fs",
            "Materials/shaders/default.vs",
            "Materials/shaders/sprite.fs",
            "Materials/shaders/sprite.vs"
        ]
    },
    "version": "1.0"
}